.App {
  text-align: center;
  margin: 0;

  display: flex;
  flex-direction: column;

  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-text {
  color: white;
}

.material-icons.md-48 {
  font-size: 48px;
}
.nav-icon-position {
  position: relative;
}

.head-text-position {
  position: relative;
  top: 8px;
  right: 350px;
}

.link-text-position {
  position: relative;
  top: 10px;
}
/* .footer {
  margin-top: 160px;
  margin-bottom: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} */

.footer {
  margin-top: auto;
}

.footer-icon-position {
  position: relative;
  top: 6px;
}

.drop-right {
  position: relative;
  left: 60px;
  float: right;
}
.drop-left {
  position: relative;
  left: 100px;
  float: right;
}
